.main {
  width: 1300px;
  font-size: 15px;

  table {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 20px;
    border-collapse: collapse;

    input {
      display: none;
    }
  }

  tr:first-child th {
    padding-bottom: 10px;
  }
  .tableHeader {
    position: relative;
    label {
      cursor: pointer;
      align-items: center;
    }
  }

  .tableHeaderTitle {
    display: flex;
  }
  .tableHeaderLogos {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .tableHeaderLogoTop {
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
  }
  .tableHeaderLogoBot {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    margin-top: 1px;
  }

  tbody tr {
    background-color: rgb(241, 241, 241);
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  tbody tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
  }

  tr,
  th,
  td {
    width: 10%;
    height: 40px;
    padding: 10px 0 0 13px;
    text-align: left;
    vertical-align: middle;
  }
  td,
  th {
    padding-bottom: 10px;
  }

  td:last-child {
    width: 7%;
  }
  td:nth-child(6) {
    width: 13%;
  }

  tr:first-child td {
    border-top: 1px solid black;
  }
  tr:last-child td {
    width: 7%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  tr:nth-child(6) {
    width: 13%;
  }

  th:last-child {
    width: 7%;
  }
  th:nth-child(6) {
    width: 13%;
    padding-left: 50px;
  }
}

.topSearchTable {
  display: flex;
  width: 1300px;
  justify-content: space-between;
  margin-bottom: 10px;

  .selectEntries {
    display: flex;
    align-items: center;

    select {
      margin: 0 5px;
    }
  }
  form input {
    font-size: 14px;
    padding: 2px;
  }
}
.tableFooter {
  display: flex;
  margin-top: 10px;
  .previousBut {
    margin-right: 5px;
  }
  .NextBut {
    margin-left: 5px;
  }
}

table td,
table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
  position: relative;
  cursor: pointer;
}

table td:hover:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  white-space: normal;
  background-color: #fff;
  color: #000;
  padding: 5px;
  z-index: 999;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 6px 0px #000;
}
